#impact{
    background: #ffffff;
    .top_part{
        text-align: center;
        padding-top: 100px;
        h3{
            font-size: 48px;
            font-weight: 700;
            font-family: "Open Sans", serif;
            color: #141135;
            text-transform: capitalize;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            font-family: "Paprika", serif;
            color: #726E9E;
            max-width: 558px;
            margin: 0 auto;
            padding-top: 23px;
            padding-bottom: 75px;

        }
    }
    .col-lg-6{
        
    }
}